
.header {
    height: 100px;
    background-color: #4faafb;
}
.panel {
    border: 0;
}

.panel-container {
    padding-top: 20px;
}

.itemCenter{
    align-items: center;
}
.header .logo {
    width: 200px;
    height: 50px;
    object-fit: cover;
    background-image: url('../../Image/logo.jpg');
    line-height: 100px;
}
.header .logout {
    font-size: 20px;
    color: #fff;
    line-height: 100px;
}

.header .logout a {
    padding: 5px 10px;
    margin-left: 20px;
    background-color: #2e93ed;
    border-radius: 5px;
    color: #f2f2f2;
}
.AdminNavbar {
    height: 40px;
    background-color: #d7e6ff;
    position: relative;
    z-index: 10;
}
.scroll {
    height: 500px;
    overflow: auto;
}
.AdminNavbar a{
    width: 240px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px 8px;
}
.AdminNavbar a:hover {
    background-color: #4faafb;
    color: #fff;
}

.divSanPhamCha{
    position: relative;
}
.divSanPhamCha:hover .divSanPhamCon {
    display: block;
}
.divSanPhamCon {
    position: absolute;
    display: none;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #d7e6ff;
}
.divSanPhamCon a{
    text-align: left;
}
input[type="image"] {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}



.HeaderText{
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}



table{
    width: 100%;
    border-collapse: collapse;
}

table.tableAdmin td, table.tableAdmin th {
    border: 1px solid #ddd;
    padding: 8px;
}
table.tableAdmin tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.tableAdmin tr:hover {
    background-color: #ddd;
}
.tableAdmin th {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #4faafb;
    color: white;
}
.FormThemMoi {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-top: 28px;
}
table.tableThemMoi th, table.tableThemMoi td {
    padding: 10px 20px;
    font-size: 18px;
}

table.tableThemMoi select, table.tableThemMoi input {
    width: 80%;
    padding: 4px;
    font-size: 14px;
}
.btnThem {
    margin-left: 20px;
    min-width: 120px;
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4faafb;
    border-radius: 4px;
}


.divTimKiem {
    width: 460px;
}
.divTimKiem input[type="text"]{
    width: 80%;
}
.divTimKiem input[type="submit"] {
    width: 20%;
    border: none;
}

.FormThemTaiKhoan {
    width: 70%;
    margin: 20px auto;
}


.FormThemTaiKhoan input[type="text"] {
    width: 100%;
}
.FormThemTaiKhoan input[type="checkbox"], .FormThemTaiKhoan input[type="radio"] {
    width: 30px;
}

.FormThemTaiKhoan .divHinhAnh {
    margin: 50px 60px;
}



.tableChiTiet input, .tableChiTiet textarea {
    width: 100%;
    padding: 4px;
}
.btnThem:hover{
    color: aqua;
}

.divbaocao{
    padding: 2px;
    background-color:lavender;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
}
.divbaocao .col {
    background-color: #fff;
    padding: 20px;
    border: 2px solid lavender;
}
.divbaocao .col:first-child {
    border-radius: 20px 0 0 20px;
}
.divbaocao .col:last-child {
    border-radius: 0 20px 20px 0;
}
.divbaocao .col i {
    font-size: 30px;
    color: #4FAAFB;
}
.divbaocao .col span{
    display: block;
    margin: 8px 0 ;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.divbaocao .col .danhmuc {
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
}
.divdate {
    margin-bottom: 12px;
    position: relative;
    width: 800px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #eff8f9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formTaiKhoan{
    padding: 20px;
}
.formTaiKhoan p{
    color: #333;
}
.formTaiKhoan .title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.formTaiKhoan .row{
    margin-bottom: 12px;    
}
.formTaiKhoan input[type="text"], .formTaiKhoan input[type="password"], .formTaiKhoan textarea, 
.formTaiKhoan select {
    width: 90%;
    padding: 4px 6px;
    font-size: 16px;
    border-radius: 4px;
}


